@use "../abstract/" as *;
@use "../base/" as *;

.btn {
  display: inline-block;
  color: $clr-light;
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 5rem;
  transition: 0.5s ease;
  text-align: center;
  &:hover {
    scale: 1.1;
    transition: 0.5s ease;
  }
  &.bg--outline {
    border: 1px solid $clr-light;
  }
  &.bg--primary {
    background: $clr-primary;
  }
}
