@use "./typography" as *;
@use "../abstract/colors" as *;
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  font-size: 1.6rem;
  font-family: $ff-primary;
  line-height: 1.4;
  color: $clr-dark;
  height: 1500px;
}

.container {
  max-width: 130rem;
  padding: 1.5rem;
  margin: 0 auto;
  width: 100%;
}
.bot-blur {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.top-blur {
  position: absolute;
  top: 0;
  width: 100%;
}

$break-sm: 480px;
$break-md: 768px;
$break-lg: 960px;
